<!-- 
  Data Projection
  <ng-content select="header"></ng-content>

<ng-content></ng-content> -->

<h2 app-highlight [defaultColor]="'yellow'"> {{ user.firstName }} {{ user.lastName }}</h2>

<!-- <p *ngIf="user.isWorking; else ElseTemplate">
  Income : <span [innerHTML]="user.income"></span>
</p> -->

<p *appUnless="!user.isWorking"> 
  Income : <span [innerHTML]="user.income"></span> 
</p>

<!-- 
  //Desugaring AppUnless
  <ng-template [appUnless]="user.isWorking">
    <p> Income : {{ user.income }}</p>
  </ng-template>

 -->

<!--
  Desugar *ngIf syntax 
  <ng-template [ngIf]="user.isWorking">
  <p>Income : {{ user.income }}</p>
</ng-template> -->

<!-- <p [ngClass]="['border', 'feature']">Date of Birth : {{ user.dob }}</p> -->
<!-- <p [ngClass]="{'border' : false, 'feature' : true}">Date of Birth : {{ user.dob }}</p> -->
<p [ngStyle]="dynamicStyle" 
  [ngClass]="dynamicClass">Date of Birth : {{ user.dob }}</p>

<button class="btn btn-default btn-sm" (click)="toggle()">Toggle</button>

<p>Total Votes : {{ user.votes }}
  <input type="number" [value]="user.votes" (change)="user.votes = $event.target.value" />
  <input type="number" [(ngModel)]="user.votes">
</p>

<!-- <ng-content select=".mydata"></ng-content> -->

<ng-template #ElseTemplate>
  <p>{{ user.firstName }} is not working now!</p>
</ng-template>


<!-- <div [ngSwitch]="10" >
  <div *ngSwitchCase="10">Output 1</div>
  <div *ngSwitchCase="20">Output 2</div>
  <div *ngSwitchCase="30">Output 3</div>
  <div *ngSwitchDefault>Default Output</div>
</div> -->