{{ users | json }}


<div class="container">
    <h4>Counter in User Comp : {{ dataService.counter }}</h4>
    <button class="btn btn-sm btn-default" (click)="onIncrease()">Increase</button>
<ul class="list-unstyled">
<li class="well" *ngFor="let user of users; index as i; first as isFirst; even as isEven; odd as isOdd; last as isLast;">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <!-- {{ i }}
            <br>
            is this First? {{ isFirst }}
            is this Last? {{ isLast }} -->
            <!-- <img [src]="user.image" class="img-responsive"> <br>
            <button class="btn btn-info btn-sm" (click)="moreInfo(user)">
                More Info
            </button> -->
            <app-user-image 
                [user]="user"
                (childEvent)="moreInfo($event)"></app-user-image>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9">
            <app-user-info [user] = "user">
                <p>This is Sample Data.</p>
                <p class="mydata">This is Sample Data 2.</p>
                <header>This is header.</header>

            </app-user-info>
            <!-- <h2> {{ user.firstName }} {{ user.lastName }}</h2>
            <p>Income : <span [innerHTML]="user.income"></span></p>
            <p>Date of Birth : {{ user.dob }}</p>
            <p>Total Votes : {{ user.votes }}
                <input type="number" [value]="user.votes" (change)="user.votes = $event.target.value" />
                <input type="number" [(ngModel)]="user.votes">
            </p> -->
        </div>
    </div>
</li>
</ul>
</div>