<div class="container">
  <ul class="list-unstyled nav navbar-nav navbar-default">
    <li *ngIf="!authService.isAuthenticated()">
      <a [routerLink]="['login']">Login</a></li>
    <li><a [routerLink]="['register']">Register</a></li>
    <li><a [routerLink]="['pipe']">Pipe</a></li>
    <li><a [routerLink]="['observable']">Observable</a></li>
    <li><a [routerLink]="['users']">Users</a></li>
    <li><a [routerLink]="['product']">Product</a></li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
      <h3>The Users App!</h3>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-2 col-sm-offset-2 col-xs-offset-2" *ngIf="authService.isAuthenticated()">
      <button class="btn btn-danger" (click)="onLogout()">
        Logout
      </button>
    </div>
  </div>

</div>

<div class="container">
  <router-outlet></router-outlet>
</div>


<div class="container">
  <!-- <app-observable-demo></app-observable-demo> -->
</div>

<div class="container">
  <!-- <app-pipe-demo></app-pipe-demo> -->
</div>

<div class="container">
  <!-- <app-register></app-register> -->
</div>

<div class="container">
  <!-- <app-login></app-login> -->
</div>

<div class="container">
  <!-- <app-life-cycle-demo [title]="title"></app-life-cycle-demo> -->
</div>

<div class="container" *ngIf="authService.getToken()!=null">
  <!-- <app-users></app-users> -->
</div>