<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- <input type="text" [(ngModel)]="title"> -->
</div>

<div class="container">
  <app-pipe-demo></app-pipe-demo>
</div>

<div class="container">
  <!-- <app-register></app-register> -->
</div>

<div class="container">
  <!-- <app-login></app-login> -->
</div>

<div class="container">
  <!-- <app-life-cycle-demo [title]="title"></app-life-cycle-demo> -->
</div>

<div>
  <!-- <app-users></app-users> -->
</div>